.bg-pink {
    background-color: #f8a9c7;
  }
  
  .text-pink {
    color: #f8a9c7;
  }
  
  .logo {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .logo .me {
    color: #f5f5f5;
  }
  
  .btn-outline-light {
    border: 2px solid white;
    color: white;
  }
  
  .btn-outline-light:hover {
    background-color: white;
    color: #ffc0cb;
  }
  
  .btn-pink {
    background-color: #f8a9c7;
    border: none;
    color: white;
  }
  
  .btn-pink:hover {
    background-color: #f8a9c7;
  }
  
  
  .input-group-text {
    border: none;
    background-color: #f8f9fa;
  }
  
  input {
    border: none;
    box-shadow: none;
  }
  
  input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(#f28cb3);
  }
  
  .shadow {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  body {
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
  }
  
  a {
    font-size: 0.9rem;
  }
  
  h2 {
    font-size: 1.6rem;
  }
